@{
    Layout = null;
}
@model HospitalAppointmentSystem.Models.Entities.Patient

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HospitalAppointmentSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalAppointmentSystem.styles.css" asp-append-version="true" />
    <title>Giriş yap</title>
</head>
<body>
    <div class="login-wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-8 side-image">

                    <div class="text">
                        <p>Sağlığınız Bize Emanet</p>
                    </div>

                </div>

                <div class="col-md-4 form-area">
                    <div class="container form-box">
                        <h5>Üye Ol</h5>
                        <form method="post" class="needs-validation" novalidate>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="T.C Kimlik No " required>
                                <div class="invalid-tooltip">
                                    Please provide a valid city.
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Ad " required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" placeholder="Soyad " required>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Kadın
                                </label>
                            </div>
                                <div class="form-check mx-2 mb-3">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Erkek
                                    </label>
                                </div>
                            <div class="form-group mb-1">
                                <input type="password" class="form-control" placeholder="Şifre">
                            </div>
                            <button type="submit" class="btn btn-outline-secondary">Üye Ol</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

