@model List<AppRole>
@{
    Layout = "_Dashboard";
}

<div style="display: flex; flex-direction: column; align-items: center;">
    <a class="btn btn-primary" style="margin-top: 50px; margin-bottom: 30;" asp-controller="Admin" asp-action="CreateRol">Rol Ekle</a>
    <table class="table table-bordered" style="width: 50%">
        <thead>
            <tr>
                <th>Rol Adı</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td>
                        <a href="/Admin/DeleteRole/@role.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>


